@model List<CandidatoModel>
@{
    ViewData["Title"] = "Banco de Talentos";
}


    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success">
            <button type="button"class="btn btn-danger close-alert" data-db-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-success">
            <button type="button"class="btn btn-danger close-alert" data-db-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }


<div class="text-center">
    <h1 class="display-4">Banco de Talentos</h1>

    <br />

    <div class="text-center">
        <div class="d-grid gap-2 d-md-flex justfy-content-md-start">
            <a class="btn btn-success"role="button" asp-controller="Candidato" asp-action="Criar">Adicionar um novo Candidato</a>
        </div>
</div>


<br />


    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Celular</th>
      <th scope="col">Email</th>
      <th scope="col">Conhecimentos</th>
    </tr>
  </thead>
  <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (CandidatoModel candidato in Model)
                {
                    <tr>
                      <th scope="row">@candidato.Id</th>
                      <td>@candidato.Nome</td>
                      <td>@candidato.Celular</td>
                      <td>@candidato.Email</td>
                      <td>@candidato.Conhecimento</td>
                      <td>
                         <div class="btn-group" role="group" aria-label="Basic example">
                              <a role="button" class="btn btn-warning" asp-route-id="@candidato.Id" asp-controller="Candidato" 
                                asp-action="Editar">Editar</a>
                              <a role="button" class="btn btn-secondary" asp-route-id="@candidato.Id" asp-controller="Candidato"
                                asp-action="ApagarConfirmacao">Apagar</a>
                         </div>
                      </td> 
                  </tr>
                }
            }
        </tbody>
</table> 
</div>
